@import "tailwindcss";

@font-face {
  font-family: "Playfair Display";
  src: url("../app/fonts/PlayfairDisplay-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

:root {
  --secondary: #4a4a4a;
  --primary: #6a0dad;
}

body {
  font-family: "Raleway";
}

button,
a {
  cursor: pointer;
}

@utility text-primary {
  color: var(--primary);
}
@utility text-secondary {
  color: var(--secondary);
}
@utility bg-primary {
  background: var(--primary);
}
@utility bg-secondary {
  background: var(--secondary);
}
@utility border-primary {
  border: 1px solid var(--primary);
}

@utility border-secondary {
  border: 1px solid var(--secondary);
}

@utility shad {
  box-shadow: 0px 0px 24px 0px #ffffff66;
}

@utility time {
  background: linear-gradient(62.99deg, #eef1f0 7.18%, #71757e 83.56%);
}

@layer utilities {
  .text-grad {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-[#6a0dad] to-[#f55bc3];
    font-family: "Playfair Display", serif;
    font-style: italic;
  }
}